h1{
    text-align: center;
    background-color: azure;
    font-family: monospace;
}
img{
    height: 250px;
    width: 250px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: red   ;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: wavy;
  }
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  table, th, td {
    border:1px solid green;
    border-radius: 10px;
  } 
  th,td {
    
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 40px;
      
  }
  tr:hover{background-color: red;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:pink;
  }
 
 
  